@mixin flexible($align, $item) {
    display: flex;
    justify-content: $align;
    align-items: $item;
}

.hover-style::before,
.hover-style::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /*Нужно совпадение с высотой заголовка, иначе "замажет" выпадающее меню*/
    background: linear-gradient(180deg, #bc9cff 0, #8ba4f9 100%);
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.5s ease-in-out;
}

.cm-dropdown-menu {
    display: flex;
    width: 250px;
    flex-flow: column;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    &:not(.show) {
        display: none;
    }
    &__item {
        display: flex;
        position: relative;
        flex-flow: column;
        &:last-child > .cm-dropdown-menu__title {
            border-top: none;
            border-bottom: none;
        }
        &:last-child > .cm-dropdown-menu__hidden {
            border-radius: 0;
            border-top: none;
            border-bottom: 2px solid #8ba4f9;
        }
        &.open > .cm-dropdown-menu__title {
            border-bottom: none;
        }
        &.open > .cm-dropdown-menu__hidden {
            padding: 15px 15px 0 15px;
        }
        &:hover .hover-style::before,
        &:hover .hover-style::after {
            transform-origin: top;
            transform: scaleY(1);
        }
        &:hover .cm-dropdown-menu__link {
            color: #fff;
            transition: color 0.75s ease;
        }
    }
    &__title {
        @include flexible(center, center);
        background: #fff;
        padding: 0;
        margin: 0;
        border-top: 2px solid #8ba4f9;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-radius: 0;
        height: 80px; /*Высота заголовка*/
    }
    &__inner-box {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__hidden {
        display: block;
        border-left: none;
        border-right: none;
        font-size: 14px; /*!!!*/
        margin: 0;
        overflow: hidden;
        max-height: 0;
    }
    &__link {
        z-index: 8;
        font-size: 16px;
        text-transform: uppercase;
        color: rgba(31, 32, 65, 0.5);
        cursor: pointer;
        &:hover {
            text-decoration: none;
        }
    }
}