@mixin flexible($align, $item) {
    display: flex;
    justify-content: $align;
    align-items: $item;
}

.complex-number {
    display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    .complex-number {
        @include flexible(flex-start, center);
    }
}