.label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    &--text {
        width: 260px !important;
        height: max-content !important;
        border: none !important;
        box-sizing: border-box !important;
        border-radius: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    .label {
        width: 210px;
        font-size: 18px;
    }
}