@mixin flexible($align, $item) {
    display: flex;
    justify-content: $align;
    align-items: $item;
}

.text-logo {
    color: #1f2041;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    width: 48.61px;
    height: 24px;
    @include flexible(center, center);
    order: 1;
}

@media screen and (max-width: 767px) {
    .text-logo {
        width: 100%;
        font-size: 21px;
    }
}