@mixin slice {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-logo {
    display: block;
    color: #1f2041;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    width: 50px;
    order: 1;
    @include slice();
    z-index: 100;
}

@media screen and (max-width: 767px) {
    .text-logo {
        width: 100%;
        font-size: 21px;
    }
}