.sidebar {
    width: 100%;
    box-sizing: border-box;
    padding: 0 59px 0 140px;
}

/*------------------------------------------------*/
@media screen and (min-width: 1140px) and (max-width: 1399px) {
    .sidebar {
        width: 50%;
        padding: 0 59px 0 140px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1139px) {
    .sidebar {
        width: 50%;
        padding: 0 calc(59px / 2) 0 24px;
    }
}

@media screen and (min-width: 960px) {
    .field__line > .field__wrapper {
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
    }
}
/*---------------------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 950px) {
    .sidebar {
        padding: 0 24px;
    }
}