.turn {
    transform: rotateY(180deg);
}

.flip-action {
    perspective: 1000px;
    &__box {
        position: relative;
        /*Обязательно должна быть задана высота блока*/
        height: 257px;
        transform-style: preserve-3d;
        transition: transform 1s ease-in-out;
        /*&:hover {
            transform: rotate(0deg);
        }*/
    }
}

@media screen and (min-width: 1400px) {
    .flip-action {
        width: 270px;
    }
}

@media screen and (min-width: 1140px) and (max-width: 1399px) {
    .flip-action {
        width: 255px;
    }
}

@media screen and (min-width: 950px) and (max-width: 1139px) {
    .flip-action {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 949px) {
    .flip-action {
        width: 233px;
    }
}

@media screen and (max-width: 767px) {
    .flip-action {
        width: 270px;
    }
}