.close,
.is-close {
  border: none;
  display: none;
  opacity: 1;
}

.close:hover,
.is-close:hover {
  opacity: 1 !important;
}

.remove-focus, .select:focus, .select__:focus {
  outline: none;
}

.select {
  position: relative;
  width: 100%;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  cursor: pointer;
}

.select--time.active .select__body.open {
  z-index: 999999;
}

.select.active {
  border-bottom: none;
}

.select .select__icon {
  color: rgba(31, 32, 65, 0.5);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.select.active .select__icon {
  color: #8ba4f9;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.select__header {
  width: 100%;
  height: 44px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 12px 0 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select__current {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.select__current--rewritable {
  width: 166px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select__icon::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  content: '\f107';
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}

.select__body {
  position: absolute;
  width: 100%;
  z-index: 99999;
  max-height: 181px;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.select__body--all-inclusive {
  border-top: 1px solid rgba(31, 32, 65, 0.25);
}

.select__item {
  border-bottom: 1px solid rgba(31, 32, 65, 0.25);
  background: #fff;
  padding: 12px 0 8px 15px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  cursor: pointer;
}

.select__item:hover {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0, #8ba4f9 100%);
}

.select__body.open .select__item:first-child {
  border-top: 1px solid rgba(31, 32, 65, 0.25);
}

.open,
.is-open {
  display: block;
}
/*# sourceMappingURL=select.css.map */