.cm-just-pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cm-just-pagination__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  padding: 0;
  outline: none;
  border: none;
  background: #fff;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.cm-just-pagination__button:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cm-just-pagination__button::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: none;
  opacity: 0.5;
  -webkit-transform: scale(1.5, 0.8);
          transform: scale(1.5, 0.8);
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.cm-just-pagination__button:hover {
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
}

.cm-just-pagination__button--dots::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: '\f141';
  font-family: 'Font Awesome 5 Pro';
  width: 40px;
  height: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.cm-just-pagination__button--active {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
}

.cm-just-pagination__button--active::before {
  position: absolute;
  content: attr(data-count);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  opacity: 1;
  z-index: 8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0, #8ba4f9 100%);
  color: #fff;
  border: none;
  border-radius: 22px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  cursor: pointer;
}

.cm-just-pagination__button:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cm-paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cm-paginator__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6fcf97), to(#66d2ea));
  background: linear-gradient(180deg, #6fcf97 0, #66d2ea 100%);
  border-radius: 22px;
  color: #fff;
  text-decoration: none;
  padding-top: 2px;
}

.cm-paginator__button::after {
  content: '\f061';
  font-family: 'Font Awesome 5 Pro';
  width: 24px;
  height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  color: #fff;
}

.cm-paginator__button:hover {
  text-decoration: none;
}

.invisibility {
  display: none !important;
}

.visibility {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
/*# sourceMappingURL=pagination.css.map */